<% include ../layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
    		<div>
                <% if (typeof message !== "undefined") { %>
                    <center><b><%= message %></b><br><br><br><br></center>
                <% } %>
	     		<br><h3>Combine Duplicate Polishes:</h3><br>
                <form action="/admin/duplicate" method="post">
                    Id to Keep: <input name="keepid" class="width50"><br><br>
                    Id to Remove: <input name="removeid" class="width50" required><br><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            </div>
    	</section>
    </div>
</div>

<% include ../layoutBottom %>