<% include ../layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <h3>Admin Portal</h3><br><br>
         <ul>
            <li><a href="/admin/users">View all users</a></li><br>
            <li><a href="/admin/settings">Admin settings</a></li><br>
            <li><a href="/admin/pending">Photos pending delete</a></li><br>
            <li><a href="/admin/flagged">Flagged polishes</a></li><br>
            <li><a href="/admin/combine">Combine polishes</a></li><br>
            <li><a href="/admin/duplicate">Duplicate polish search</a></li><br>
            <li><a href="/admin/brands">Edit brands</a></li><br>
            <li><a href="/admin/brandalternate">Add alternate brand name</a></li>
        </ul> 
    </section>
    </div>
</div>

<% include ../layoutBottom %>