<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <h3>Admin Portal</h3><br><br>
        Settings:<br>
        <ul>
            <li><a href="/admin/settings">Admin settings</a></li><br>
        </ul><br><br>
        Users:<br>
        <ul>
            <li><a href="/admin/users">View all users</a></li><br>
            <li><a href="/admin/message">Send message</a></li><br>
        </ul><br><br>
        Brands:<br>
        <ul>
            <li><a href="/admin/brands">Edit brands</a></li><br>
            <li><a href="/admin/brandalternate">Add alternate brand name</a></li><br>
        </ul><br><br>
        Polish:<br>
        <ul>
            <li><a href="/admin/import">Import polish</a></li><br>
            <li><a href="/admin/combine">Combine polish</a></li><br>
            <li><a href="/admin/duplicate">Duplicate polish search</a></li><br>
        </ul><br><br>
        Flagged Items:<br>
        <ul>
            <li><a href="/admin/flaggedpolish">Flagged polish</a></li><br>
            <li><a href="/admin/flaggedphotos">Flagged photos</a></li><br>
            <li><a href="/admin/flaggedcheckins">Flagged fresh coats</a></li><br>
        </ul>
    </section>
    </div>
</div>

<%- include('../layoutBottom'); %>