<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <form action="/forums/<%= forumcat %>/add" method="post" enctype='multipart/form-data'>
            <h3>Add a discussion post:</h3><br><br>
                Category:<br><select name="forum" required>
                    <option value="general" <% if (forumcat === "general") { %> selected="selected" <%}%>>General Polish Discussion</option>
                    <option value="intro" <% if (forumcat === "intro") { %> selected="selected" <%}%>>Introductions</option>
                    <option value="offtopic" <% if (forumcat === "offtopic") { %> selected="selected" <%}%>>Off Topic</option>
                    <option value="lt" <% if (forumcat === "lt") { %> selected="selected" <%}%>>Lacquer Tracker Feedback/Suggestions</option>
                    </select><br><br>
                Title:<br><input type="text" name="posttitle" class="width53" maxlength="100" required autofocus><br><br><br>
                Post:<br><textarea type="text" class="markItUp" name="postmessage" required></textarea><br>
                Include an image? <input type="file" value="photo" name="photo" /><br><br><br>
                <input type="submit" value="Submit" class="button">
        </form>
    </section>
    </div>
</div>

<%- include('../layoutBottom'); %>