<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
    		<div>
                <% if (typeof message !== "undefined" && message.length > 0) { %>
                    <center><b><%= message %></b><br><br><br><br></center>
                <% } %>
                <form action="/login" method="post">
    	     		<h3>Log in below:</h3><br>
        			Username:<br><input type="text" name="username" class="width50" autofocus><br><br><br>
        			Password:<br><input type="password" name="password" class="width50"><br><br><br>
        			<input type="submit" value="Submit" class="button" id="login-button">
        		</form>
                <br><a href="/passwordreset">Forgot your password?</a>
            </div>
    	</section>
    </div>
</div>

<%- include('../layoutBottom'); %>