<% include ../layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <% if (typeof message !== "undefined") { %>
                <center><b><%= message %></b><br><br><br><br></center>
            <% } %>
            <form action="/reset/<%= key %>" method="post">
                <h3>Enter a new password below:</h3><br>
                Username:<br><input type="text" name="username" value="<%= username %>" class="width45" disabled><br><br><br>
                Password:<br><input type="password" name="password" class="width45" autofocus><br><br><br>
                Confirm password:<br><input type="password" name="confirm" class="width45"><br><br><br>
                <input type="submit" value="Submit" class="button" id="login-button">
            </form>
        </div>
    </section>
    </div>
</div>

<% include ../layoutBottom %>