<% include ../layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <div>
                <% if (typeof message !== "undefined") { %>
                    <center><b><%= message %></b><br><br><br><br></center>
                <% } %>
                <form method="post" action="/passwordreset">
                    <h3>Reset Password</h3><br><br>
                    Please enter your username. An e-mail will be sent to the address associated with your account:<br><br>
                    <input type="text" name="username" class="width45" autofocus><br><br>
                    <input type="submit" value="Submit" class="button" id="login-button">
                </form>
            </div>
    </section>
    </div>
</div>

<% include ../layoutBottom %>