<% include ../layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div id="smalllayout">
            <% if (typeof message !== "undefined") { %>
                <center><h3><%= message %></h3><br><br></center>
            <% } %>
        </div>
        <div id="biglayout">
            <% if (typeof message !== "undefined") { %>
                <br><b><%= message %></b>
            <% } %>
        </div>
    </section>
    </div>
</div>

<% include ../layoutBottom %>