<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <% if (typeof message !== "undefined") { %>
                <center><b><%= message %></b><br><br><br><br></center>
            <% } %>
        </div>
    </section>
    </div>
</div>

<%- include('../layoutBottom'); %>