<% include ../layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <div>
                <% if (typeof message !== "undefined") { %>
                    <center><b><%= message %></b><br><br><br><br></center>
                <% } %>
                <b>Upload Success!</b><br><br>
                <img class="polishphotosmall" src="<%=srcurl%>"/>
            </div>
        </section>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#copy').zclip({
        path:'/scripts/ZeroClipboard.swf',
        copy:function(){return $('#copyurl').val();},
        afterCopy:function(){
            $('#copyurl').css('background-color','#9ED9CF');
        }
    });
});
</script>

<% include ../layoutBottom %>