<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
    		<form action="/blog/<%= posttitle %>/addcomment" method="post">
	     		<h3>Add a comment:</h3><br>
    			Message:<br><i><textarea type="text" name="message" cols="60" rows="20"></textarea><br><br>
                <input type="submit" value="Submit" class="button">
    		</form>
    	</section>
    </div>
</div>

<% include layoutBottom %>