<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
    		<form action="/addnewpolish" method="post">
	     		<h3>Add a new polish:</h3><br>
    			Name: <input type="text" name="name"><br><br>
    			Brand: <input type="text" name="brand"><br><br>
                Collection: <input type="text" name="batch"><br><br>
                Year: <input type="text" name="year"><br><br>
                Color: <input type="text" name="color"><br><br>
                Type: <input type="text" name="type"><br><br>
    			<input type="submit" value="Submit" class="button" id="login-button">
    		</form>
            <% if (message) { %>
                <br><h4><%= message %></h4>
            <% } %>
    	</section>
    </div>
</div>

<% include layoutBottom %>