<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div id="browse-wrap">
        <div id="browse-left_col">
          <h3>Filter by:</h3><br>
            <form action="browse" method="post">
              <input type="text" name="name" placeholder="Name">
              <br><br>
              <input type="checkbox" name="own" value="own">Owned polish<br><br>
              <input type="checkbox" name="wish" value="wish">Wanted polish
              <br><br><br>
              <select name="brand">
                 <option value="">All Brands</option>
                 <option value="test">Test</option>
                 <option value="china glaze">China Glaze</option>
                 <option value="opi">OPI</option>
                 <option value="zoya">Zoya</option>
              </select>
              <br><br><br>
              <select name="color">
                 <option value="">All Colors</option>
                 <option value="green">green</option>
                 <option value="blue">blue</option>
                 <option value="purple">purple</option>
              </select>
              <br><br><br>
              <select name="type">
                 <option value="">All Types</option>
                 <option value="glitter">glitter</option>
                 <option value="holo">holo</option>
               </select>
              <br><br><br>
              <input type="submit" class="button" id="search-button" value="Filter">
            </form>
        </div>
        <div id="browse-right_col">
        <table id="polishbrowse" class="sortable">
          <tr><th>Name</th><th>Brand</th><th>Collection</th><th>Year</th><th>Color</th><th>Type</th></tr>
        <% for(var i=0; i<polishes.length; i++) {%>
         <%- polishes[i] %>
        <% } %>
        </table>
        </div>
        </div>
    </section>
    </div>
</div>

<% include layoutBottom %>