<% include layoutTop %>
 
<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div id="contact-wrap">
        <div id="contact-left_col">
          <h4>Let us know you care!</h4>  
          <p>This site is still in beta and growing everyday.<br><br>Feedback or comments are much appreciated.</p><br>
          <img id="polish-image2" src="http://fc01.deviantart.net/fs71/i/2011/242/0/4/polish_heart_by_aligirl8-d48dyyx.jpg"/>
        </div>  
        <div id="contact-right_col">
            <form action="" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="action" value="submit"/>Name:<br />
                <input name="name" class="contact" type="text"/> <br /><br>E-mail:<br />
                <input name="email" type="text" class="contact"/> <br /><br>Message:<br />
                <textarea name="message" rows="10" class="contact"> </textarea> <br /><br>
                <input type="submit" class="button" value="Submit Feedback"/>
            </form>
        </div>
        </div>
        </div>
    </section>
    </div>
</div>
  
<% include layoutBottom %>