<% include layoutTop %>
 
<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div id="contact-wrap">
        <div id="contact-left_col">
          <h4>Let us know you care!</h4>  
          <p>This site is still in beta and growing everyday.<br><br>Feedback or comments are much appreciated.</p><br>
          <img id="polish-image2" src="/images/polishheart.jpg"/>
        </div>  
        <div id="contact-right_col">
            <form action="/contact" method="post" enctype="multipart/form-data">
                Name:<br><input type="text" name="name" size="95" required><br><br>
                Email:<br><input type="text" name="email" size="95" required><br><br>
                Message:<br><textarea name="message" rows="10" class="contact" required></textarea><br><br>
                <input type="submit" class="button" value="Submit Feedback"/>
            </form>
            <% if (message.length > 0) { %>
                <br><br><h4><%= message %></h4>
            <% } %>  
        </div>
        </div>
        </div>
    </section>
    </div>
</div>
  
<% include layoutBottom %>