<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
    		<form action="/editreview/<%= polishid %>" method="post">
	     		<h3>Edit Review:</h3><br>
    			Rating: <select name="rating">
                    <option value="" <% if (rating === "") { %> selected="selected" <%}%>>select a rating</option>
                    <option value="1" <% if (rating === "1") { %> selected="selected" <%}%>>*</option>
                    <option value="2" <% if (rating === "2") { %> selected="selected" <%}%>>**</option>
                    <option value="3" <% if (rating === "3") { %> selected="selected" <%}%>>***</option>
                    <option value="4" <% if (rating === "4") { %> selected="selected" <%}%>>****</option>
                    <option value="5" <% if (rating === "5") { %> selected="selected" <%}%>>*****</option>
                </select><br><br><br>
                Review:<br> <textarea cols="100" rows="5" name="userreview"><%= userreview %></textarea><br><br><br>
                Notes: <i>(Will only be visible to you.)</i><br> <textarea  cols="100" rows="5" name="notes"><%= notes %></textarea><br><br><br>
                Dupes:<br> <textarea  cols="100" rows="5" name="dupes"><%= dupes %></textarea><br><br><br>
                <input type="submit" value="Submit" class="button">
            </form>
        </section>
    </div>
</div>

<% include layoutBottom %>