<%- include('layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <center><h3>Oops! <% if (typeof message !== "undefined") {%><%=message%><%} else {%>Something went wrong!<%}%></h3><br><br><br>
        <img src="/images/spill.png" alt=""></center>
    </section>
    </div>
</div>

<%- include('layoutBottom'); %>