<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
      <form method="post" id="account-form">
        <h3>Reset Password</h3><br><br>
        <h4>Please enter your username. An e-mail will be sent to the address associated with your account:</h4><br>
        <input type="text" id="username"><br><br>
        <input type="submit" value="Submit" class="button" id="login-button"></form>
    </section>
    </div>
</div>

<% include layoutBottom %>