<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
      <form method="post" id="account-form">
        <h4>Retrieve Forgotten Password</h4><br><br>
        <h3>Please enter the email address associated with your account:</h3><br>
        <input type="text" id="useremail"><br><br>
        <input type="submit" value="Submit" class="button" id="login-button"></form>
    </section>
    </div>
</div>

<% include layoutBottom %>