<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <h2 align="center">Forums</h2><br><br>
        <a href="/forums/add">Add a post</a><br><br>
        <ul>
            <li><a href="/forums/intro/">Introductory Posts</a></li> - New to Lacquer Tracker? Tell us about yourself!<br><br>

            <li><a href="/forums/general/">General Polish Discussion</a></li> - Any discussion related to polish is welcome here.<br><br>

            <li><a href="/forums/notd/">Nails of the Day</a></li> - Post a photo of what you're wearing today. Be sure to include the colors you used!<br><br>

            <li><a href="/forums/contests/">Contests</a></li> - Hosts contests or giveaways.<br><br>

            <li><a href="/forums/tutorials/">Tutorials</a></li> - Post nail art tutorials or link to great ones you've found elsewhere.<br><br>
            
            <li><a href="/forums/offtopic/">Off Topic</a></li> - Anything goes here!
        </ul>
    </section>
    </div>
</div>

<% include layoutBottom %>