<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <h2 align="center">Forums</h2><br>
            <ul class="forumlist">
                <li><a href="/forums/intro/"><b>Introductory Posts</b></a> - New to Lacquer Tracker? Tell us about yourself!</li><br><br>

                <li><a href="/forums/general/"><b>General Polish Discussion</b></a> - Any discussion related to polish is welcome here.</li><br><br>

                <li><a href="/forums/notd/"><b>Nails of the Day</b></a> - Post a photo of what you're wearing today. Be sure to include the colors you used!</li><br><br>

                <li><a href="/forums/contests/"><b>Contests</b></a> - Host a contest or giveaway.</li><br><br>

                <li><a href="/forums/tutorials/"><b>Tutorials</b></a> - Post nail art tutorials or link to great ones you've found elsewhere.</li><br><br>
                
                <li><a href="/forums/offtopic/"><b>Off Topic</b></a> - Anything goes here!</li>
            </ul>
        </div>
    </section>
    </div>
</div>

<% include layoutBottom %>