<!-- Footer -->
<div class="wrapper row3">
    <footer id="footer" class="clear">
    <!--<p class="fl_left">Copyright &copy; 2014 - All Rights Reserved</p>-->
    </footer>
</div>

<script>
if (isAuthenticated()) {
	analytics.identify(user.id, {
		username: user.username
	});
}
</script>

</body>
</html>