<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title><%= title %></title>
    <meta charset="iso-8859-1">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <script src="/scripts/sorttable.js"></script>
    <script src="/scripts/colorfinder.js"></script>
    <script src="/scripts/jscolor/jscolor.js"></script>
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/cycle2.js"></script>
    <script src="/scripts/cycle2center.js"></script>
    <script src="/scripts/collageplus.js"></script>
    <script src="/scripts/markitup/markitup/jquery.markitup.js"></script>
        <script type="text/javascript" src="/scripts/markitup/markitup/sets/html/set.js"></script>
        <link rel="stylesheet" type="text/css" href="/scripts/markitup/markitup/skins/simple/style.css" />
        <link rel="stylesheet" type="text/css" href="/scripts/markitup/markitup/sets/html/style.css" />
</head>

<body>

<!-- header -->
<div class="wrapper row1">
    <header id="header" class="clear">
        <h1>Lacquer Tracker</h1>
        <div id="logininfo">
            <% if (isAuthenticated()) { %>
                <p>Hello <%= user.username %> | <a href="/logout">Logout</a></p>
            <% } else { %>
                <p><a href="/login">Login</a> or <a href="/signup">Signup</a></p>
            <% } %>
        </div>
    <nav>
        <ul>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/forums">Forums</a></li>
            <li><a href="/blog">Blog</a></li>
            <li class="last"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    </header>
</div>

<script type="text/javascript" >
   $(document).ready(function() {
      $(".markItUp").markItUp(mySettings);
   });
</script>