<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
            <div id="biglayout">
    		<form action="/login" method="post">
	     		<h3>Log in below:</h3><br>
    			Username: <input type="text" name="username" style="width:40%;"><br><br>
    			Password: <input type="password" name="password" style="width:40%;"><br><br><br>
    			<input type="submit" value="Submit" class="button" id="login-button">
    		</form>
            <a href="/passwordreset">Forgot your password?</a>
            <% if (message.length > 0) { %>
                <br><br><br><b><%= message %></b>
            <% } %>
            </div>
            <div id="smalllayout">
            <% if (typeof message !== "undefined") { %>
                <center><h3><%= message %></h3><br><br></center>
            <% } %>
            <form action="/login" method="post">
            <h3>Log in below:</h3><br>
                 Username: <input type="text" name="username" class="fullwidth"><br><br>
                 Password: <input type="password" name="password" class="fullwidth"><br><br><br>
                 <input type="submit" value="Submit" class="button" id="login-button">
                 </form><br>
            <b><a href="/passwordreset">Forgot your password?</a></b>
            </div>
    	</section>
    </div>
</div>

<% include layoutBottom %>