<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
      <form method="post" id="account-form">
        <h4>Log in below:</h4><br>
        Username: <input type="text" name="username"><br><br>
        Password: <input type="password" name="password"><br><br><br>
        <input type="submit" value="Submit" class="button" id="login-button"></form>
    </section>
    </div>
</div>

<% include layoutBottom %>