<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
    		<form action="/login" method="post">
	     		<h3>Log in below:</h3><br>
    			Username: <input type="text" name="username"><br><br>
    			Password: <input type="password" name="password"><br><br><br>
    			<input type="submit" value="Submit" class="button" id="login-button">
    		</form>
    		<% if (message.length > 0) { %>
    			<br><h4><%= message %> <a href="/forgotpassword">Forgot your password?</a></h4>
    		<% } %>
    	</section>
    </div>
</div>

<% include layoutBottom %>