<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div id="biglayout">
            <img id="polish-image" src="/images/swatchwheels.JPG">
        </div>
        <div id="welcome">
            <h2>Welcome to Lacquer Tracker!</h2>
            <br>
            <p>Ready to get started digitally organizing and building your nail polish collection?<br><br><br><a href="/login">Log in</a> or <a href="/signup">sign up</a> now!</p>
        </div>
        <div id="smalllayout">
            <br><br>
            <img id="polish-image" src="/images/swatchwheels.JPG"></center>
        </div>
    </section>
    </div>
</div>

<% include layoutBottom %>