<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <img id="polish-image" src="http://2.bp.blogspot.com/-_eCNvXNLRa4/URL7aLqFolI/AAAAAAAAAdw/LK8UuU9PtTg/s1600/IMG_4361.JPG">
        <h2>Welcome to Lacquer Tracker!</h2>
        <br>
        <p>Ready to get started digitally organizing and building your nail polish collection?<br><br><br><a href="/login">Log in</a> or <a href="/signup">sign up</a> now!</p>
    </section>
    </div>
</div>

<% include layoutBottom %>