<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <img id="polish-image" src="http://2.bp.blogspot.com/-_eCNvXNLRa4/URL7aLqFolI/AAAAAAAAAdw/LK8UuU9PtTg/s1600/IMG_4361.JPG">
        <h2>Welcome to Lacquer Tracker!</h2>
        <br>
        <p>Ready to get started digitally organizing and building your nail polish collection?<br><br>Log in below!</p><br>
      <form method="post" id="login-form">
        Username: <input type="text" name="user" id="login-user"><br><br>
        Password: <input type="text" name="pass" id="login-pass"><br><br>
        <input type="submit" value="Sign in" class="button" id="login-button"></form>
      <br><a href="#">Forgot your password?</a> | <a href="/signup">Create an account!</a>
    </section>
    </div>
</div>

<% include layoutBottom %>