<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <form action="/reset/<%= username %>" method="post">
            <h3>Enter a new password below:</h3><br>
            Username: <input type="text" name="username" value="<%= username %>" disabled><br><br>
            Password: <input type="password" name="password"><br><br>
            Confirm password: <input type="password" name="confirm"><br><br><br>
            <input type="submit" value="Submit" class="button" id="login-button">
        </form>
        <% if (message.length > 0) { %>
            <br><b><%= message %></b>
        <% } %>
    </section>
    </div>
</div>

<% include layoutBottom %>