<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <div>
            <form action="/photo/profile" method="post" enctype='multipart/form-data'>
                <h3>Upload a Profile Photo:</h3><br>
                Image for Upload: <input type="file" value="photo" name="photo" required>
                    </input><br><br>
                <input type="submit" value="Submit" class="button">
            </form>
        </section>
    </div>
</div>

<% include layoutBottom %>