<%- include('layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <div>
            <h2>Privacy Policy</h2><br>

            <i>Last updated May 2, 2021</i><br><br><br>

            At Lacquer Tracker, we are committed to protecting your personal information and your right to privacy. This Privacy Policy explains what information we collect, how we use it and what rights you have in relation to it.<br><br>
            
            If you have additional questions or require more information, do not hesitate to <a href="/contact">contact us.</a><br><br><br>

            <b>Consent</b><br><br>

            By using our website, you hereby consent to our Privacy Policy and agree to its terms.<br><br><br>

            <b>Information we collect</b><br><br>

            We collect personal information that you voluntarily provide to us when you register or participate in activites. The personal information we collect depends on the context of your interactions and the features you use. Such information includes email address, username, password.<br><br>

            We also follow a standard procedure of using log files to document visitors to the site. The information collected includes internet protocol (IP) addresses, browser type, date and time stamp, and referring/exit pages. The purpose of the information is for analyzing trends, troubleshooting, and security.<br><br>

            Like any other websites, we use 'cookies'. These cookies are used to store information, including visitors' preferences and the pages on the website that the visitor accessed or visited. The information is used to optimize the user experience.<br><br><br>

            <b>How we use your information</b><br><br>

            We use the information we collect in various ways, including to:<br><br>

            &#8226; Provide, operate, and maintain our website<br>
            &#8226; Improve, personalize, and expand our website<br>
            &#8226; Understand and analyze how you use our website<br>
            &#8226; Develop new products, services, features, and functionality<br>
            &#8226; Communicate with you, to provide you with updates and other information relating to the website<br>
            &#8226; Send you emails<br>
            &#8226; Find and prevent fraud<br><br><br>

            <b>How long we keep your information</b><br><br>

            We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy notice.<br><br>

            Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from you, change that information, or delete it in some circumstances. If you would at any time like to review or change the information in your account or terminate your account, you can log in to your account and update the information by editing your profile. Upon your request to terminate your account, we will delete your account and information from our active databases.<br><br><br>

            <b>Updates to this privacy policy</b><br><br>

            We may update this privacy notice from time to time. The updated version will be indicated by an updated "Revised" date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy notice frequently to be informed of how we are protecting your information.<br><br><br>
        </div>
    </section>
    </div>
</div>

<%- include('layoutBottom'); %>