<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <p>Welcome:<br>
        ID: <%= user.id %><br>
        Username: <%= user.username %><br>
        Password: <%= user.password %></p>
    </section>
    </div>
</div>

<% include layoutBottom %>