<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <form action="/signup" method="post">
            <!--<h3>Tell us a little about yourself to get started.</h3><br>
            Name: <input type="text" name="nickname"><br><br>
            Email: <input type="text" name="email"><br><br>-->
            <h3>Choose a username and password to get started.</h3><br>
            Username: <input type="text" name="username"><br><br>
            Password: <input type="password" name="password"><br><br><br>
            <input type="submit" value="Submit" class="button" id="login-button">
        </form>
        <% if (message.length > 0) { %>
            <br><br><h4><%= message %></h4>
        <% } %>        
    </section>
    </div>
</div>

<% include layoutBottom %>