<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
      <form method="post" id="account-form">
        <h4>Please tell us a little about yourself to get started.</h4><br>
        Name: <input type="text" id="create-user"><br><br>
        E-mail: <input type="text" id="create-email"><br><br><br>
        <h3>Choose your username and password:</h3><br>
        Username: <input type="text" id="create-username"><br><br>
        Password: <input type="text" id="create-password"><br><br><br>
        <input type="submit" value="Submit" class="button" id="login-button"></form>
    </section>
    </div>
</div>

<% include layoutBottom %>