<!-- Footer -->
<div class="wrapper row3">
    <footer id="footer" class="clear">
    <nav id="primary_nav">
        <ul>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/forums">Forums</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#">Top</a></li>
        </ul>
    </nav>
    </footer>
</div>

</body>
</html>