<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title><%= title %></title>
    <meta charset="iso-8859-1">
    <link rel="stylesheet" href="/stylesheets/stylemobile.css" type="text/css">
    <script src="/scripts/sorttable.js"></script>
    <script src="/scripts/colorfinder.js"></script>
    <script src="/scripts/jscolor/jscolor.js"></script>
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/cycle2.js"></script>
    <script src="/scripts/cycle2center.js"></script>
    <script src="/scripts/collageplus.js"></script>
    <script src="/scripts/markitup/jquery.markitup.js"></script>
        <script type="text/javascript" src="/scripts/markitup/sets/html/set.js"></script>
        <link rel="stylesheet" type="text/css" href="/scripts/markitup/skins/simple/stylemobile.css" />
        <link rel="stylesheet" type="text/css" href="/scripts/markitup/sets/html/style.css" />
    <meta name="viewport" content="width=device-width, target-densitydpi=high-dpi" />
</head>

<body>

<!-- header -->
<div class="wrapper row1">
    <header id="header">
        <h1><a href="/">Lacquer Tracker</a></h1>
        <nav id="nav">
            <a href="/browse">Browse</a> |
            <a href="/profile">Profile</a> |
            <a href="/forums">Forums</a> |
            <a href="/blog">Blog</a> |
            <a href="/contact">Contact</a>
        </nav>
    </header>
</div>

<script type="text/javascript" >
    $(document).ready(function() {
        $(".markItUp").markItUp(mySettings).css('width', function() {
            width:98;
        });
    });
</script>