<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
            <% if (typeof message !== "undefined") { %>
                <center><h3><%= message %></h3><br><br></center>
            <% } %>
    		<form action="/login" method="post">
	     		<h3>Log in below:</h3><br>
    			Username: <input type="text" name="username" class="fullwidth"><br><br>
    			Password: <input type="password" name="password" class="fullwidth"><br><br><br>
    			<input type="submit" value="Submit" class="button" id="login-button">
    		</form><br>
            <b><a href="/passwordreset">Forgot your password?</a></b>
    	</section>
    </div>
</div>

<% include layoutBottom %>