<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <h3>Welcome to Lacquer Tracker!</h3>
        <br><br>
        Ready to get started digitally organizing and building your nail polish collection?<br><br><br><a href="/login">Log in</a> or <a href="/signup">sign up</a> now!
        <br><br><br>
        <img id="polish-image" src="/images/swatchwheels.JPG">
    </section>
    </div>
</div>

<% include layoutBottom %>