<% include layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
            <% if (typeof message !== "undefined") { %>
            <center><h3><%= message %></h3><br><br></center>
        <% } %>
    		<form action="/photo/upload" method="post" enctype='multipart/form-data'>
	     		<h3>Add a Photo:</h3><br>
                Image for Upload: <input type="file" value="photo" name="photo" required>
                    </input><br><br>
                Do you want this image to appear on your profile page?
                    <select name="onprofile">
                        <option value="no">no</option>
                        <option value="yes">yes</option>
                        </select><br><br><br>
                <input type="submit" value="Submit" class="button">
    		</form>
    	</section>
    </div>
</div>

<% include layoutBottom %>