<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title><%= title %></title>
    <meta charset="iso-8859-1">
    <link rel="stylesheet" href="/stylesheets/stylemobile.css" type="text/css">
    <script src="/scripts/sorttable.js"></script>
    <script src="/scripts/colorfinder.js"></script>
    <script src="/scripts/jscolor/jscolor.js"></script>
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/cycle2.js"></script>
    <script src="/scripts/cycle2center.js"></script>
    <script src="/scripts/collageplus.js"></script>
    <script src="/scripts/markitup/jquery.markitup.js"></script>
        <script type="text/javascript" src="/scripts/markitup/sets/html/set.js"></script>
        <link rel="stylesheet" type="text/css" href="/scripts/markitup/skins/simple/stylephone.css" />
        <link rel="stylesheet" type="text/css" href="/scripts/markitup/sets/html/style.css" />
</head>

<body>

<!-- header -->
<div class="wrapper row1">
    <header id="header" class="clear">
        <h1>Lacquer Tracker</h1>
    <nav>
        <ul>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/forums">Forums</a></li>
            <li><a href="/blog">Blog</a></li>
            <li class="last"><a href="/contact">Contact</a></li>
        </ul>
        <select>
            <option value="" selected="selected">Select</option>
            <option value="/browse">Browse</option>
            <option value="/profile">Profile</option>
            <option value="/forums">Forums</option>
            <option value="/blog">Blog</option>
            <option value="/contact">Contact</option>
        </select>
    </nav>
    </header>
</div>

<script type="text/javascript" >
   $(document).ready(function() {
      $(".markItUp").markItUp(mySettings);
   });

   $("nav select").change(function() {
        window.location = $(this).find("option:selected").val();
    });
</script>