/*--------------------------ALL DISPLAYS-------------------------------*/

@media screen {

    html{overflow-y:scroll;} /* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

    body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#000000; background-color:#9ED9CF;}

    .clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
    .clear{display:block; clear:both;}
    html[xmlns] .clear{display:block;}
    * html .clear{height:1%;}

    a{outline:none; text-decoration:none;}

    code{font-weight:normal; font-style:normal; font-family:Georgia, "Times New Roman", Times, serif;}

    img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}


    /*---HTML 5 Overrides---*/

    address, article, aside, figcaption, figure, footer, header, hgroup, nav, section{display:block; margin:0; padding:0;}


    /* ---General---*/

    address{font-style:normal;}

    form, fieldset, legend{margin:0; padding:0; border:none;}
    legend{display:none;}
    input, textarea, select{font-size:12px; font-family:Georgia,"Times New Roman",Times,serif;}

    span.stars, span.stars span {
        display: inline-block;
        background: url(/images/stars.png) 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }

    span.stars span {background-position: 0 0;}

    .replycomment {background-color: #D8D8D8;}

    .collage {padding: 10px;}

    .collage img{vertical-align:bottom;}

    #swatch {
        height: 95%;
        width: 95%;
        border-radius: 50%;
    }

    #swatchsmall {
        height: 30px;
        width: 75px;
        border-radius: 50%;
    }

    #tablelink {color:#000000;}

    #tablelink:hover {color:#10695A;}

    /* Sortable tables */
    table.sortable thead {
        background-color:#eee;
        font-weight: bold;
        cursor: default;
    }

    .forumtable th {color: #000000;}

    table {width:100%; border-collapse: collapse; table-layout:fixed; margin-bottom: 2%;}
    table, th, td {border: 1px solid black;}
    th, td {padding:1%;}
    th {color: #10695A; font-weight:bold; background-color: #D5DEDE;}

    td span, th span {
        display: block;
        white-space: pre-wrap;
        width: 100%;
        overflow: hidden;
        font-size: 100%;
    }

    #preview {
        float:middle;
        margin-bottom: 2%;
    }


    /*---Footer---*/

    #footer {box-shadow: 0px 500px 0px 500px #9ED9CF; padding-top:1%;}

}



/*--------------------------LARGE AND MEDIUM DISPLAYS-------------------------------*/

@media screen and (min-width: 1100px), screen and (max-width: 1099px) and (min-width: 600px) {

    /* ---Wrappers---*/

    div.wrapper {display:block; width:100%; margin:0; padding:0; text-align:left;}

    .row1, .row1 a{color:#C0BAB6; background-color:#9ED9CF;}
    .row2{color:#000000; background-color:#9ED9CF;}
    .row2 a{color:#10695A;}
    .row3, .row3 a{color:#000000; background-color:#9ED9CF;}


    /*---General---*/

    #header, #container, #footer{display:block; max-width:1100px; margin:0 auto;}

    #smalllayout {display:none;}

    nav ul{margin:0; padding:0; list-style:none;}

    h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-weight:bold; font-style:bold; line-height:normal;}

    h1{font-size:40px;}
    h2{font-size:22px;}
    h3{font-size:18px;}
    h4{font-size:14px;}
    h5{font-size:16px;}


    /*---Header---*/

    #header{padding:20px 0;}
    #header nav{display:block; width:100%; margin:0; padding:20px 0; color:#C0BAB6; background-color:#232323; clear:both;}
    #header nav ul{padding:0 20px;}
    #header nav li{display:inline; margin-right:25px; text-transform:uppercase;}
    #header nav li.last{margin-right:0;}
    #header nav li a{color:#C0BAB6; background-color:#232323;}
    #header nav li a:hover{color:#10695A; background-color:#232323;}
    #logininfo a{color:#10695A;}


    /*---Main Content---*/

    #container{background-color:#F2F7F7;}
    #container section{display:block; margin-bottom:30px; padding:2% 2% 2% 2%;}

    #contact-wrap {width:100%; float:center; margin:0;}
    #contact-left_col {float:left; width:50%; text-align:center;}
    #contact-right_col {float:right; width:50%; text-align:left;}

    #browse-wrap {width:100%; float:center; margin:0 auto;}
    #browse-left_col {float:left; width:15%; text-align:left;}
    #browse-right_col {float:right; width:85%; text-align:left;}

    #polish-wrap {width:100%; float:center; margin:0 auto;}
    #polish-left_col {float:left; width:30%; text-align:left;}
    #polish-right_col {float:right; width:70%; text-align: center; margin-top: -2%;}

    #photo-wrap {width:100%; float:center; margin-bottom:0 auto;}
    #photo-left_col {float:left; width:40%; text-align:left; margin-bottom:2%;}
    #photo-right_col {float:right; width:60%; text-align: center; margin-top: -2%;}

    .button {color:#FFFFFF; background-color:#10695A; border:none; margin: 0 0 2% 0; padding: .25%;}

    #polish-image {margin:0 0 4% 0; float:right; width:40%; vertical-align:middle; clear:right;}

    #polish-image2 {width:80%; margin: 0 0 4% 0;}

    .forumtable {width: 100%; max-width:950px;}

    .userphotosmall {
        max-height: 200px;
        max-width: 200px;
    }

    .forumpost img {max-width: 500px;}

    .profilephoto {
        max-height: 150px;
        max-width: 150px;
        position: inline;
        float: right;
    }

    .profilephotocomment {
        max-height: 35px;
        max-width: 35px;
        position: inline;
    }

    #recaptcha_image img {
        max-width:100%;
    }

    .width50 {display:inline-block; width:50%;}
    .width40 {display:inline-block; width:40%;}
    .width45 {display:inline-block; width:45%;}
    .width44 {display:inline-block; width:44%;}
    .width53 {display:inline-block; width:53%;}
    .width80 {display:inline-block; width:80%;}
    .width98 {display:inline-block; width:98%;}

    .browsetable th.name {width:22%;}
    .browsetable th.brand {width:20%;}
    .browsetable th.collection {width:20%;}
    .browsetable th.color {width:10%;}
    .browsetable th.swatch {width:8%;}
    .browsetable th.type {width:12%;}
    .browsetable th.info {width:8%;}

    .ownedtable th.name {width:22%;}
    .ownedtable th.brand {width:20%;}
    .ownedtable th.collection {width:18%;}
    .ownedtable th.color {width:10%;}
    .ownedtable th.swatch {width:10%;}
    .ownedtable th.type {width:10%;}
    .ownedtable th.rating {width:10%;}

    .wantedtable th.name {width:22%;}
    .wantedtable th.brand {width:22%;}
    .wantedtable th.collection {width:20%;}
    .wantedtable th.color {width:12%;}
    .wantedtable th.swatch {width:12%;}
    .wantedtable th.type {width:12%;}

    .gallery li img {
        max-height:400px;
        max-width: 100%;
    }

    .gallery li{display:none; list-style:none;}
    .gallery li:first-child {display:block;}

}


/*--------------------------LARGE DISPLAYS-------------------------------*/

@media screen and (min-width: 1100px) {

    #header h1{float:left; margin:7px 0 20px 0; color:black;}
    #logininfo {text-align: right; padding-top: 1.5%; margin-right: 0; color:#000000;}

}


/*--------------------------MEDIUM DISPLAYS-------------------------------*/

@media screen and (max-width: 1099px) and (min-width: 600px) {

    #header h1{float:left; margin:7px 0 20px .5%; color:black;}
    #logininfo {text-align: right; padding-top: 1.5%; padding-right: .5%; color:#000000;}

}


/*--------------------------SMALL DISPLAYS-------------------------------*/

@media screen and (max-width: 599px) {

    /* ---Wrappers---*/

    div.wrapper {display:block; width:100%; margin:0; padding:0; text-align:left;}

    .row1, .row1 a{color:#000000; background-color:#9ED9CF;}
    .row2{color:#000000; background-color:#9ED9CF;}
    .row2 a{color:#10695A;}
    .row3, .row3 a{color:#000000; background-color:#9ED9CF;}


    /*---General---*/

    #header, #container, #footer{display:block; width:98%; margin:0 auto;}

    #biglayout {display:none;}

    nav ul{margin:0; padding:0; list-style:none;}

    h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-weight:bold; font-style:bold; line-height:normal;}

    h1{font-size:20px;}
    h2{font-size:18px;}
    h3{font-size:16px;}
    h4{font-size:14px;}
    h5{font-size:12px;}


    /*---Header---*/

    #header h1, nav, nav a{text-align:center; margin:6px 0 6px 0; color:black; list-style:none;}
    #header h1 {text-align:left; margin-left:1%;}

    #header nav, #header nav a {background-color:#232323; color:#C0BAB6; padding: 2px 0 2px 0;}

    #logininfo {font-size:12px; position:absolute; top:0; right:0; float:right; margin-right:1%;}
    #logininfo a{color:#10695A;}

    /*---Main Content---*/

    #container{background-color:#F2F7F7;}
    #container section{display:block; padding:4% 2% 4% 2%;}

    .button {color:#FFFFFF; background-color:#10695A; border:none; margin: 0 0 1% 0; padding: .25%;}

    #polish-image {margin-left: auto; margin-right: auto; width:85%; text-align:center; display:block;}

    .forumtable {width: 100%;}

    .userphotosmall {
        max-height: 200px;
        max-width: 200px;
    }

    .forumpost img {max-width:100%; height:auto; width:auto;}

    .profilephoto {
        max-height: 85px;
        max-width: 85px;
        position: inline;
        float: right;
    }

    .profilephotocomment {
        max-height: 35px;
        max-width: 35px;
        position: inline;
    }

    #recaptcha_image {
        max-width:100%;
    }
    #recaptcha_image img {
        max-width:98%;
    }

    #recaptcha_image textarea {
        max-width:98%;
    }

    .width50 {display:inline-block; width:98%;}
    .width40 {display:inline-block; width:98%;}
    .width45 {display:inline-block; width:98%;}
    .width44 {display:inline-block; width:98%;}
    .width53 {display:inline-block; width:98%;}
    .width80 {display:inline-block; width:98%;}
    .width98 {display:inline-block; width:98%;}

    .browsetable th.name {width:20%;}
    .browsetable th.brand {width:18%;}
    .browsetable th.collection {width:20%;}
    .browsetable th.color {width:12%;}
    .browsetable th.swatch {width:8%;}
    .browsetable th.type {width:12%;}
    .browsetable th.info {width:10%;}

    .ownedtable th.name {width:20%;}
    .ownedtable th.brand {width:18%;}
    .ownedtable th.collection {width:20%;}
    .ownedtable th.color {width:12%;}
    .ownedtable th.swatch {width:8%;}
    .ownedtable th.type {width:14%;}
    .ownedtable th.rating {width:8%;}

    .wantedtable th.name {width:24%;}
    .wantedtable th.brand {width:22%;}
    .wantedtable th.collection {width:22%;}
    .wantedtable th.color {width:12%;}
    .wantedtable th.swatch {width:8%;}
    .wantedtable th.type {width:12%;}

    #contact-left_col {text-align:center;}
    #welcome {text-align:center;}
    #browse-wrap {margin-bottom:5%;}

    .slideshow {text-align:center;}

    .forumlist, .forumlist li {list-style-type:none; padding-left:0;}

    .gallery li img {
        max-height: 300px;
        max-width: 98%;
        vertical-align:middle;
    }

    .gallery li{display:none; list-style:none;}
    .gallery li:first-child {display:block;}

}