html{overflow-y:scroll;} /* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#000000; background-color:#232323;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

code{font-weight:normal; font-style:normal; font-family:Georgia, "Times New Roman", Times, serif;}

.fl_left{float:left;}
.fl_right{float:right;}

img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #10695A; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}


/*---HTML 5 Overrides---*/

address, article, aside, figcaption, figure, footer, header, hgroup, nav, section{display:block; margin:0; padding:0;}


/* ---Wrappers---*/

div.wrapper {display:block; width:100%; margin:0; padding:0; text-align:left;}

.row1, .row1 a{color:#C0BAB6; background-color:#9ED9CF;}
.row2{color:#000000; background-color:#9ED9CF;}
.row2 a{color:#10695A;}
.row3, .row3 a{color:#000000; background-color:#9ED9CF;}


/*---General---*/

#header, #container, #footer{display:block; width:60%; margin:0 auto;}

nav ul{margin:0; padding:0; list-style:none;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-weight:bold; font-style:bold; line-height:normal;}

h1{font-size:40px;}
h2{font-size:22px;}
h3{font-size:18px;}
h4{font-size:14px;}
h5{font-size:16px;}

address{font-style:normal;}

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:12px; font-family:Georgia,"Times New Roman",Times,serif;}


/*---Header---*/

#header{padding:20px 0;}

#header h1{float:left; margin:7px 0 20px 0; color:black;}

#header form{display:block; width:290px; float:right; margin:20px 0; padding:0;}
#header form input{display:block; float:left; width:200px; margin:0; padding:5px; color:#C0BAB6; background-color:#232323; border:1px solid #666666;}
#header form #search-button{display:block; float:right; width:70px; font-size:12px; font-weight:bold; text-transform:uppercase; color:#FFFFFF; background-color:#10695A; border:none; cursor:pointer;}

#logo a{color:#000000;}
#logo a:hover{color:#000000;}

#header nav{display:block; width:100%; margin:0; padding:20px 0; color:#C0BAB6; background-color:#232323; clear:both;}
#header nav ul{padding:0 20px;}
#header nav li{display:inline; margin-right:25px; text-transform:uppercase;}
#header nav li.last{margin-right:0;}
#header nav li a{color:#C0BAB6; background-color:#232323;}
#header nav li a:hover{color:#10695A; background-color:#232323;}

#logininfo {text-align: right; padding-top: 1.5%; color:#000000;}
#logininfo a{color:#10695A;}


/*---Main Content---*/

#container{background-color:#F2F7F7;}
#container section{display:block; margin-bottom:30px; padding:2% 2% 2% 2%;}

#contact-wrap {width:100%; float:center; margin:0;}
#contact-left_col {float:left; width:50%; text-align:center;}
#contact-right_col {float:right; width:50%; text-align:left;}

#browse-wrap {width:100%; float:center; margin:0 auto;}
#browse-left_col {float:left; width:15%; text-align:left;}
#browse-right_col {float:right; width:85%; text-align:left;}

.button {color:#FFFFFF; background-color:#10695A; border:none; margin: 0 0 2% 0; padding: .25%;}

#polish-image {margin:0 0 4% 0; float:right; width:40%; vertical-align:middle; clear:right;}

#polish-image2 {width:60%; margin: 0 0 4% 0;}

.filter {width:80%;}

.contact {width:80%;}

table {width:100%; border-collapse: collapse; table-layout:fixed; margin-bottom: 2%;}
table, th, td {border: 1px solid black;}
th, td {padding:1%;}
th {color: #10695A; font-weight:bold; background-color: #D5DEDE;}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    font-weight: bold;
    cursor: default;
}

#swatch {
	height: 95%;
	width: 95%;
	border-radius: 50%;
}

#swatchsmall {
    height: 15px;
    width: 50px;
    border-radius: 50%;
}


#optionsmenu:hover ul {
    display: inline-block;
    list-style: none;
    padding-left:0;

}
#optionsmenu ul {
    display:none;
}

#optionsmenu a:hover {
    background:#e6e6e6;
}

#tablelink {
    color:#000000;
}

#tablelink:hover {
    color:#10695A;
}

#polish-wrap {width:100%; float:center; margin:0 auto;}
#polish-left_col {float:left; width:20%; text-align:left;}
#polish-right_col {float:right; width:80%; text-align:right;}

#photo-wrap {width:100%; float:center; margin:0 auto;}
#photo-left_col {float:right; width:85%; text-align:right;}
#photo-right_col {float:right; width:15%; text-align:right;}

.small-images a, .big-images a {display:inline-block}
.small-images a.selected {border:1px solid red}


/*---Footer---*/

#footer {padding:20px 0;}
#footer p{margin:0; padding:0;}