<% include ../layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <div>
                <form action="/swatch/add/<%= pid %>" method="post" enctype='multipart/form-data'>
                    <h3>Choose a photo to crop into swatch:</h3><br><br>
                    <h4><%= pbrand %> - <%= pname %></h4><br><br>
                    Upload Image: <input type="file" value="photo" name="photo">
                    <br><br><br><b>OR</b><br><br><br>
                    Add from URL: <input name="url" class="width40"><br><br><br>
                    <input type="submit" value="Submit" class="button">
                </form>
            </div>
        </section>
    </div>
</div>

<% include ../layoutBottom %>