<% include ../layoutTop %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    	<section>
            <h2>Success!</h2><br><br>
            <a href="/polishadd">Add another?</a> | <a href=<%=url%>>View the polish you just added!</a>
        </section>
    </div>
</div>

<% include ../layoutBottom %>