<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <% if (typeof message !== "undefined") { %>
                <center><b><%= message %></b><br><br><br><br></center>
            <% } %>
            <h3>Admin Import Polish</h3><br><br>
            <b>Please follow all instructions very carefully!<br><br><br></b>
            <form action="/admin/importbrands" method="post" enctype='multipart/form-data'>
                <b>Step 1: Import brands</b><br><br>
                * Must be a .CSV file<br><br>
                * Must contain header row with "brand" in lowercase<br><br>
                * Remove duplicates before submitting<br><br><br>
                <input type="file" value="spreadsheet" name="spreadsheet" class="width50" required><br><br>
                <input type="submit" value="Submit" class="button">
            </form>
            <br><br><br><br>
            <form action="/admin/importpolish" method="post" enctype='multipart/form-data'>
                <b>Step 2: Import polish</b><br><br><br>
                * Must be a .CSV file<br><br>
                * Must contain a header row with all header titles in lowercase<br><br>
                * Required columns are "name" and "brand"<br><br>
                * Optional columns are "code", "collection", "color", and "type"<br><br>
                * Use commas between items when there are multiple colors or types<br><br>
                * Any information you do not know, leave the cell blank<br><br>
                * Remove brand/name duplicates before submitting.<br><br>
                * Be sure to double-check the submitter's username is correct<br><br>
                * Accented characters may not import properly and should be checked after import<br><br>
                * If file has thousands of rows, may be best to import ~500 at a time<br><br>
                <br>
                File for upload: <input type="file" value="spreadsheet" name="spreadsheet" class="width50" required><br><br>
                Option: <select name="ownership" required>
                    <option disabled selected value>Choose an option</option>
                    <option value="yes">Add these polish to the user's owned list</option>
                    <option value="no">Do NOT add these polish to the user's owned list</option>
                    </select><br><br>
                Submitter's Username: <input type="text" name="user" class="width40" required><br><br>
                <input type="submit" value="Submit" class="button">
            </form>
        </section>
    </div>
</div>

<%- include('../layoutBottom'); %>