<%- include('../layoutTop'); %>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <section>
            <form action="/blog/add" method="post">
                <h3>Add a blog entry:</h3><br>
                Title:<br><input type="text" name="posttitle" class="width53" required><br><br><br>
                Post:<br><textarea type="text" class="markItUp" name="postmessage" required></textarea><br><br>
                <input type="submit" value="Submit" class="button">
            </form>
        </section>
    </div>
</div>

<%- include('../layoutBottom'); %>