<%- include('../layoutTop'); %>

<script src="/scripts/jquery.js"></script>
<script src="/scripts/jquery.mobile.custom.min.js"></script>
<script src="/scripts/select2/js/select2.js"></script>
<link href="/scripts/select2/css/select2.css" rel="stylesheet"/>

<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
    <section>
        <% if (typeof message !== "undefined") { %>
            <center><b><%= message %></b><br><br><br><br></center>
        <% } %>
        <form action="/freshcoats/add" method="post" enctype='multipart/form-data'>
            <h3>Check in your mani:</h3><br><br>
                Choose your photo: <input type="file" name="photo" required><br><br><br>
                Optional short description:<br>
                <input type="type" name="description" maxlength="200" placeholder="If you'd like to share more details, leave a comment once posted." class="width50"><br><br><br>
                Select your polishes used:<br>
                <select multiple name="polish" id="select-polish" style="width:280px"></select>
                <br><br><br>
                <input type="submit" value="Submit" class="button"><br><br>
        </form>
        Can't find the polish you're looking for? <a target="blank" href="/polishadd">Add it to the database.</a>
    </section>
    </div>
</div>

<script>
$("#select-polish").select2({
    placeholder: 'Search by polish name',
    minimumInputLength: 2,
    ajax: {
        url: '/allpolish',
        type: 'POST',
        data: function(term) {
            return {
                term:term
            }
        },
        processResults: function (data) {
            return {
                results: $.map(data, function(obj) {
                    return { id: obj._id, text: obj.brand+" - "+obj.name};
                })
            };
        }
    }
});
</script>

<%- include('../layoutBottom'); %>